<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>

<body style="background-color: #f3f3f3;">
        <center>
    
            <form action="/resultados" method="post" id="formulario-resultados"class="container-xxl" style="width: 700px; background-color: rgb(252, 252, 252);">
                <div style="width: 600px; border-radius: 3px;" class="grid text-center" style=" --bs-gap: .25rem 1rem;">
                    <header class="" style="width: 400px;">
                    <div>
                        <img src="./img/luz.png" class="img-fluid" alt="">
                    </div>
                        <h2 class="text-center"><%=Header%></h2>
                    </header>
                    <br>
                    <br>
                    <div><h6>Recursos humanos</h6></div>
                    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary;">
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Acerca de la empresa <span class="sr-only"></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Ingreso de personal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contáctanos</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>    
                <div class="position-relative"> 
                    <label for="NumeroRe" class="col-4 col-form-label">Numero de recibo</label>
                    <input id="NumeroRE" name="NumeroRe"  type="number" class="form-control"style="width: 200px;" placeholder="" required>
                </div>
                <div class="position-relative"> 
                    <label for="nombre" class="col-4 col-form-label">Nombre</label>
                    <input id="nombre" name="nombre"  type="text" class="form-control"style="width: 200px;" placeholder="" >
                </div>
                <div class="position-relative"> 
                    <label for="Domicilio" class="col-4 col-form-label">Domicilio</label>
                    <input id="Domicilio" name="Domicilio"  type="text" class="form-control"style="width: 200px;" placeholder="" >
                </div>
            <label for="TipoSer" class="col-4 col-form-label">Tipo de servicio </label>
                <select id="TipoSer" name="TipoSer" class="col-4 form-select" required>
                    <option value="Domestico">Domestico</option>
                    <option value="Comercial">Comercial</option>
                    <option value="Industrial">Industrial</option>
                </select>
                <div class="position-relative"> 
                    <label for="consumidos" class="col-4 col-form-label">Kilowatts Consumidos</label>
                    <input id="consumidos" name="consumidos"  type="number" class="form-control"style="width: 200px;" placeholder="" required>
                </div>
                

            <br>
            <br>
                <button type="submit" class="btn btn-primary" form="formulario-resultados" >Enviar informacion</button>
                <button type="reset" class="btn btn-info">Limpiar</button>
                <br><br><br>        
            </form>
                <hr>
                    <footer class="card-footer " style="width: 500px;" style=" color:black;">
                        <b><%=Footer%></b>
                    </footer>
    </center>
</body>
</html>