<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </style>
</head>

<body style="background-color: #fafafa;">
    <center>
    
            <form action="/" method="post" class="container-xxl" style="width: 700px; background-color: rgb(253, 253, 253);">
                <div style="width: 600px; border-radius: 3px;" class="grid text-center" style=" --bs-gap: .25rem 1rem;">
                    <header class="" style="width: 400px;">
                    <div>
                        <img src="./img/tecinfo.jpg" class="img-fluid" alt="">
                    </div>
                        <h4 class="text-center">Compañia de Luz</h4>
                    </header>
                    <div><h6>Recursos humanos</h6></div>
                    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary;">
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Acerca de la empresa <span class="sr-only"></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Ingreso de personal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contáctanos</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>    
            </form>
            <body>
                <div class="container mt-5">
                <h1>Resultados</h1>            
                <!-- Tabla con los resultados -->
                <%
                
                var incremento=0;
                var impuesto=0;
    
                var subtotal=0;
                var totalPagar=0;
                 var descuento=0;
                
                // Calcular el porcentaje de incremento según el tipo de servicio 
             
                if (TipoSer == 'Domestico') {
                    incremento = 1.08;
                } else if (TipoSer == 'Comercial') {
                    incremento = 2.5;
                } else if (TipoSer == 'Industrial') {
                    incremento = 3.0;
                }
                //tipo de descuento 
                if(consumidos<=1000){
                    descuento=.10;
                }else if(consumidos>1000 && consumidos<=10000){
                    descuento=.20;
                }else if(descuento>10000){
                    descuento=.50;
                }
           
                
                // Calcular el total antes de impuestos
                 subtotal = incremento * consumidos;
                
                // Calcular el impuesto
                impuesto = subtotal * 0.16;
                //calcular descuento 
                descuento=subtotal*descuento;
                // Calcular el total a pagar
                totalPagar = (subtotal + impuesto);
                
                %>            
                <table class="table table-striped;">
                    <tbody>
                    <tr>
                        <td>Nombre:</td>
                        <td><%= nombre %></td>
                    </tr>
                    <tr>
                        <td>tipo de servicio :</td>
                        <td><%= TipoSer %></td>
                    </tr>
                    <tr>
                        <td>Kilowatts Consumidos:</td>
                        <td><%= consumidos %></td>
                    </tr>
                    <tr>
                        <td>Costo por kilowatts:</td>
                        <td><%= incremento %></td>
                    </tr>
                    <tr>
                        <td>Subtotal:</td>
                        <td><%= subtotal %></td>
                    </tr>
                    <tr>
                        <td>Impuesto:</td>
                        <td><%= impuesto %></td>
                    </tr>
                    <tr>
                        <td>Descuento:</td>
                        <td><%= descuento %></td>
                    </tr>
                    <tr>
                        <td>Total a pagar:</td>
                        <td><%= totalPagar %></td>
                    </tr>
                </tbody>
                </table>
            
                <a href="/" class="btn btn-primary">Volver al formulario</a>
                </div>
                <hr>
                    <footer class="card-footer " style="width: 500px;" style=" color:black;">
                        <b>Compañia de luz @Derechos Reservados Yamir Ezequiel Paez Ayala 2023</b>
                    </footer>
                </div>
    </center>
</body>
</html> 